.button {
	font: 40px Arial, sans-serif;
	background-color: rgba(150, 150, 150);
	color: rgb(0, 0, 0);
	border: 5px solid rgb(0, 0, 0);
	border-radius: 15px;
	cursor: pointer;
	display: none;
	z-index: 2;
}
#startButton {
	font: 50px Arial, sans-serif;
	border-radius: 30px;
	width: 25%;
	height: 10%;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#pauseButton {
	display: none;
	cursor: pointer;
	width: 42px;
	height: 58px;
}
.pausePart {
	width: 12px;
	height: 38px;
	background-color: rgb(150, 150, 150);
	border: 5px solid rgb(0, 0, 0);
	border-radius: 8px;
}
#rightPart {
	position: absolute;
	top: 10px;
	left: 30px;
}
#leftPart {
	position: absolute;
	top: 10px;
	left: 5px;
}
#resumeButton {
	width: 200px;
	height: 80px;
	position: absolute;
	top: 50px;
	left: 110px;
	transform: translate(-50%, -50%);
}

#menuButton {
	width: 200px;
	height: 80px;
	position: absolute;
	top: 140px;
	left: 110px;
	transform: translate(-50%, -50%);
}
#player {
	width: 48px;
	height: 48px;
	background-color: rgb(0, 0, 0);
	border: 5px solid rgb(0, 0, 0);
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 1;
}
#background {
	background-image: url(textures/background.jpg);
	position: absolute;
	top: 50%;
	left: 50%;
	zoom: 100%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	z-index: -1;
}
#stamina {
	width: 50%;
	background-color: grey;
}
#staminaBar {
	width: 1%;
	height: 30px;
	background-color: green;
}
