#startButton {
	padding: 10px 10px;
	font: 50px Arial, sans-serif;
	cursor: pointer;
	border: 5px solid rgb(255, 200, 0);
	border-radius: 50px;
	background-color: #eaff00;
	color: rgb(255, 200, 0);
	width: 314px;
	height: 100px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#player {
	width: 50px;
	height: 50px;
	background-color: rgb(0, 0, 0);

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#background {
	background-image: url(textures/background.jpg);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200%;
	height: 200%;
	z-index: -1;
}
