@import "tailwindcss";

@layer utilities {
	.button {
		@apply bg-blue-500 text-white font-bold py-2 px-4 rounded-xl hover:scale-110 transition-all;
	}
	.player {
		@apply w-15 h-15 bg-red-500 rounded-xl fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
	}
}

body {
	@apply m-0 p-0 overflow-hidden bg-gray-900;
}
